*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navigation */
.navbar{
  background: black;
  padding: 5px;
}
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li{
  padding: 10px;
  list-style: none;
}
.navbar ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.navbar ul li a:hover{
  color: black;
  background: white;
  border-radius: 5px;
}
/* Home */
#heading{
  text-align: center;
  margin: 20px;
  color: red;
  font-size: 20px;
}
.container{
  width: auto;
}
.box{
  padding: 10px;
}
.box img{
  display: block;
  width: 320px;
  height: auto;
  margin: 0 auto;
}
.box h2{
  margin-top: 5px;
}.box button{
  padding: 4px;
}
.box p{
  padding: 2px;
}
.box h2, p, button{
  margin-left: 8px;
  margin-bottom: 2px;
}
/* Footer */
#footer{
  display: block;
  text-align: center;
  background: black;
  color: white;
  padding: 5px;
  margin-top: 10px;
}
